<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row" style="margin-bottom: -50px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span
						th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Recipes'"></span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<!-- 		<img class="img-responsive" src="/image/raft1.jpg" -->
		<!-- 			style="margin-top: -75px;" /> -->


		<form th:action="@{/favorite/addItem}" method="post">
			<input hidden="hidden" name="id" th:value="${recipe.id}" />
			<div class="row">
				<div class="col-xs-2">
					<h4>
						<a class="btn btn-warning" th:href="@{/recipeshelf}"><i
								class="fa fa-long-arrow-left" aria-hidden="true"
								style="color: forestgreen"></i>Go back</a>
					</h4>
					<h4>
						<a class="btn btn-warning" th:if="${addRecipeSuccess}" th:href="@{/favorite/cart}"><span
							th:if="${addRecipeSuccess}"><i
								class="fa fa-long-arrow-left" aria-hidden="true"
								style="color: forestgreen"></i>Go to favorites</span></a>
					</h4>
				</div>
			</div>
			<div class="row" style="margin-top: 40px;">
				<div class="col-xs-1"></div>
				<div class="col-xs-4">
					<img alt="thumbnail" class="img-thumbnail shelf-recipe"
						th:src="#{adminPath}+@{/image/recipe/}+${recipe.id}+'.png'" />

				</div>


				<div class="col-xs-6">
					<h3>
						<span th:if="${addRecipeSuccess}" style="color: forestgreen"><i
							class="fa fa-check" aria-hidden="true" style="color: forestgreen"></i>Added
							to favorites.</span>
					</h3>
					<h3 th:utext="${recipe.name}">Recipe Name</h3>
					<div class="row">
						<div class="col-xs-8">
							<!--     					<h5><strong>Name </strong><span th:text="${recipe.name}"></span></h5> -->
							<p>
								<strong>Timp de preparare: </strong><span
									th:utext="${recipe.timp_preparare}"></span>
							</p>
							<p>
								<strong>Ingrediente: </strong><span
									th:utext="${recipe.ingrediente}"></span>
							</p>
							<p>
								<strong>Mod de preparare: </strong><span
									th:utext="${#strings.abbreviate(recipe.mod_de_preparare, 10000)}"></span>
							</p>
						</div>
						<div class="col-xs-4">
							<!-- 							<a th:href="@{/addFavorite(id=${recipe.id})}"></a> -->
							<button type="submit" class="btn btn-success btn-xl">
								<span class="glyphicon glyphicon-plus"></span> Add to favorite
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
			<br /> <br />
		</form>
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>